.bg-blue{background-color: #29bde0;}
.bgf0{background-color: #f0f0f0;}
.bg-white{background-color: #fff;}
.bg-orange{background-color: #fab344;}
.font-white{color: #fff;}
.font-black{color: #000;}
.font-orange{color: #fab344;}
p,body,h1,h2,h3,h4,h5,h6{margin: 0;}
*{box-sizing: border-box;}