body {
    margin: 0;
    background-color: #efefef;
}

p {
    margin: 0;
    background: #fff;
    padding: 10px;
    text-align: center;
}

header {
    height: 44px;
    background: #29bde0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: #fff;
}
.back{
    height: 30px;
    margin: 10px;
    cursor: pointer;
}
.block {
    margin: 16px;
}

button {
    outline: none;
    border: none;
    height: 50px;
    background: #fab344;
    color: #fff;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
}

footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    padding: 15px;
    width: 100%;
}

.img1 {
    width: 12px;
    margin: 10px;
    cursor: pointer;
}

.img2 {
    width: 16px;
    margin: 10px;
    cursor: pointer;
}

.card {
    width: 80%;
    margin: 30px auto;
    background: #ffedc5;
    border: 4px solid #fff;
    height: 70vh;
    position: relative;
}

.img3 {
    width: 200px;
    display: block;
    margin: 80px auto;
}

.number {
    width: 30px;
    background: #fff;
    height: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -16px);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.img4 {
    margin: 50px auto;
    width: 200px;
    display: none;
}

.identity {
    font-size: 20px;
    background: #ffedc5;
    padding: 0px;
    color: #f34c71;
}
.num-input{
    font-size: 1.2rem;
    margin:0 0.6rem;
    background: #f4f5f5;
    padding: 0.2rem 0.6rem;
    color: gold;
    width: 9%;
    border: none;
    outline: none;
}

.slider-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.6rem 0;
}

#slider {
    /*设置滑块下面那条线的样式*/
    outline: none;
    /*去掉点击时出现的外边框*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*这三个是去掉那条线原有的默认样式，划重点！！*/
    width: 30%;
    height: 0.3rem;
    background: orange;
    /*这三个是设置滑块下面那条线的样式*/
}

input[type="range"]::-webkit-slider-thumb {
    /*::-webkit-slider-thumb是代表给滑块的样式进行变更*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*//这三个是去掉滑块原有的默认样式，划重点！！*/
    -webkit-box-shadow: 0 0 2px;
    /*设置滑块的阴影*/
    width: 2.6rem;
    height: 1.6rem;
    background: url("../img/slider.png");
    background-size: cover;
    /*//这几个是设置滑块的样式*/
}

/* 上面是修改滑块和滑块轨道的样式，下面是左右两边按钮的css样式*/
.btn-sub {
    /*这里是左边减按钮的css样式*/
    outline: none;
    border: none;
    cursor: pointer;
    background: url("../img/sub.png");
    background-size: 100%;
    width: 1.8rem;
    height: 1.8rem;
}

.btn-add {
    /*这里是右边+按钮的css样式*/
    outline: none;
    border: none;
    cursor: pointer;
    background: url("../img/add.png") no-repeat;
    background-size: 100%;
    width: 1.8rem;
    height: 1.8rem;
}