<div class="text-center bg-img" ng-controller="loginController">
    <form id="login" class="form-signin" name="loginForm">
        <div class="login-circle-img"></div>
        <div class="form-group">
            <input type="text" name="name" id="txt" value="" class="form-control pd-left-50 input-lg" ng-model = 'name' />
            <div class="login-user-icon"></div>
        </div>
        <div class="form-group">
            <input type="password" name="pwd" id="pwd" value="" class="form-control pd-left-50 input-lg" ng-model='password' />    
            <div class="login-psd-icon"></div>
        </div>
        <p id="msg" class="msg"></p>
        <button type="submit" id="btn" class="btn btn-block btn-submit btn-primary" ng-click="doLogin()">登录</button>
    </form>
</div>
