html,
body{
	height: 100%;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-signin{
	width: 100%;
    max-width: 300px;
    padding: 15px;
    padding-top: 50px;
    margin: 0 auto;
    background: #d0d4d9;
    position: relative;
}

.login-circle-img{
	border-radius: 50%;
    background: url(../img/login-logo.png) no-repeat center;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -85px);
    box-shadow: 0 -3px 7px rgba(160, 160, 160, 0.5);
}
.bg-img{
	background: url(../img/login-bg.png) no-repeat center/cover;
}
.btn-submit{
	color: #fff;
}
.btn-submit:hover {
    color: #fff;
}
.pd-left-50 {
    padding-left: 50px;
}
.login-user-icon{
	position: absolute;
    top: 57px;
    left: 30px;
    background: url(../img/loginuser.png) no-repeat;
    width: 23px;
    height: 26px;   
}
.login-psd-icon{
	position: absolute;
    top: 110px;
    left: 30px;
    background: url(../img/loginpsd.png) no-repeat;
    width: 23px;
    height: 26px;  
}
.msg{
	color: #a94442;
	height: 20px;
}
